.ms-addnew   { font-family: 'Trebuchet MS', sans-serif; font-weight: normal; color: #339933; 
               font-size: .68em; text-decoration: none }
.ms-announcementtitle { font-weight: normal }
.ms-appt     { background-color: #ffffcc; vertical-align: middle; overflow: hidden; 
               font-size: 8pt; height: 18px; color: black; text-align: center; 
               border: 2px solid #cc9900 }
.ms-appt a   { color: #2D425F }
.ms-appt a:hover { color: red }
.ms-authoringcontrols { background-color: #cccc99; color: #000000; font-family: 
               'Trebuchet MS', sans-serif; font-size: 9pt }
.ms-banner   { font-size: 10pt; color: #000000; font-family: 'Trebuchet MS', sans-serif }
.ms-banner a:link { font-weight: normal; font-size: 10pt; text-decoration: none; font-family: 
               'Trebuchet MS', sans-serif; color: #000000 }
.ms-banner a:visited { color: #000000; font-weight: normal; font-size: 10pt; text-decoration: none; 
               font-family: 'Trebuchet MS', sans-serif }
.ms-bannerframe { background-color: #cccc99; border-bottom: 4 solid #cc9900 }
.ms-cal      { border-collapse: collapse; font-family: Arial, sans-serif; table-layout: fixed; 
               cursor: default }
.ms-calbot   { height: 2px; border-left: 1px solid black; border-right: 1px solid black; 
               border-top-style: none; border-top-width: medium; 
               border-bottom: 1px solid black }
.ms-caldow   { font-weight: bold; height: 20px; text-align: center; vertical-align: top; 
               font-size: 10pt; border-left: 1px solid black; 
               border-right: 1px solid black; border-top: 1px solid black }
.ms-caldowdown { vertical-align: middle; font-family: Arial, sans-serif; font-weight: bold; 
               color: #000000; text-align: center }
.ms-caldown  { text-align: left; color: #000000; vertical-align: top; font-size: 8pt }
.ms-calhead  { font-family: Arial, sans-serif; background-color: #cccc99; color: white; 
               font-size: 16pt; text-align: center; border-style: none; 
               border-width: medium; padding: 2px }
.ms-calmid   { height: 20px; border-left: 1px solid black; border-right: 1px solid black }
.ms-calspacer { height: 4px; border-left: 1px solid black; border-right: 1px solid black }
.ms-caltop   { font-size: 10pt; width: 14%; height: 30px; vertical-align: top; 
               border-left: 1px solid black; border-right: 1px solid black; 
               border-top: 1px solid black }
.ms-datepicker { cursor: default; font-family: Arial, sans-serif; border: 2 outset activeborder }
.ms-datepickeriframe { display: none; position: absolute; background-color: white; 
               background-attachment: scroll; background-repeat: repeat; 
               background-position: 0% 50% }
.ms-descriptiontext { font-size: 9pt; color: black; font-family: 'Trebuchet MS', sans-serif }
.ms-descriptiontext a { font-family: 'Trebuchet MS', sans-serif; color: #339933; font-size: 9pt }
.ms-discussiontitle { font-family: 'Trebuchet MS', sans-serif; font-weight: bold; color: #000000; 
               font-size: 10pt }
.ms-dpday    { font-size: 8pt; text-align: center; border-style: none; border-width: medium }
.ms-dpdow    { text-align: center; font-size: 8pt; font-weight: bold; vertical-align: top; 
               border-left-style: none; border-left-width: medium; 
               border-right-style: none; border-right-width: medium; 
               border-top-style: none; border-top-width: medium; 
               border-bottom: 1px solid black }
.ms-dpfoot   { font-style: italic; font-size: 8pt; text-align: center; height: 24px; 
               border-left-style: none; border-left-width: medium; 
               border-right-style: none; border-right-width: medium; 
               border-top-style: solid; border-top-width: 1px; 
               border-bottom-style: none; border-bottom-width: medium }
.ms-dphead   { font-size: 8pt; font-weight: bold; color: white; text-align: center; 
               background-color: #cccc99; border-style: none; border-width: 
               medium }
.ms-dpnonmonth { text-align: center; font-size: 8pt; color: gray; border-style: none; 
               border-width: medium }
.ms-dpselectedday { font-size: 8pt; background-color: #ffffcc; text-align: center; border-style: 
               none; border-width: medium }
.ms-filedialog td { height: 16px }
.ms-formbody { font-size: 9pt; font-family: 'Trebuchet MS', sans-serif; text-align: left; 
               color: #000000 }
.ms-formdescription { font-size: 9pt; font-family: 'Trebuchet MS', sans-serif; color: #000000 }
.ms-formdescription a { color: #339933; text-decoration: none }
.ms-formlabel { font-size: 9pt; color: #000000; font-family: 'Trebuchet MS', sans-serif; 
               font-weight: normal; text-align: left }
.ms-homepagetitle { font-family: 'Trebuchet MS', sans-serif; font-weight: bold; font-size: 12pt; 
               color: #000000; text-decoration: none }
.ms-homepagetitle:hover { color: #000000; text-decoration: underline }
.ms-input    { font-size: 9pt; font-family: 'Trebuchet MS', sans-serif }
.ms-itemheader a { color: #339933; font-family: 'Trebuchet MS', sans-serif; text-decoration: none; 
               font-weight: normal; font-size: 10pt }
.ms-itemheader a:hover { text-decoration: underline; color: #cc9900 }
.ms-itemheader a:visited { color: #996600; text-decoration: none }
.ms-long     { font-family: 'Trebuchet MS', sans-serif; width: 300px; font-size: 9pt }
.ms-main     { border-right: 50 solid #cccc99 }
.ms-nav a    { font-family: 'Trebuchet MS', sans-serif; font-size: 9pt; font-weight: normal; 
               color: #339933; text-decoration: none }
.ms-nav a:hover { text-decoration: underline; color: #cc9900 }
.ms-nav a:visited { color: #996600 }
.ms-nav td   { font-weight: normal; font-size: 9pt; color: #000000; font-family: 
               'Trebuchet MS', sans-serif }
.ms-nav th   { color: black; text-align: left; font-size: 9pt; font-family: 
               'Trebuchet MS', sans-serif; font-weight: normal }
.ms-navframe { border-left: 4 solid #cc9900 }
.ms-pagetitle { color: #999966; font-size: 1.25em; font-family: 'Trebuchet MS', sans-serif; 
               font-weight: normal }
.ms-pagetitle a { text-decoration: none; color: #999966 }
.ms-pagetitle a:hover { text-decoration: underline }
.ms-propertysheet { font-size: 9pt; font-family: 'Trebuchet MS', sans-serif }
.ms-propertysheet a { color: #339933; text-decoration: none }
.ms-propertysheet a:hover { text-decoration: underline; color: #cc9900 }
.ms-propertysheet a:visited { color: #996600; text-decoration: none }
.ms-propertysheet th { font-family: 'Trebuchet MS', sans-serif; font-size: 9pt; font-weight: normal; 
               color: #000000 }
.ms-radiotext { font-family: 'Trebuchet MS', sans-serif; cursor: default; height: 19px; 
               text-align: left; font-size: 10pt }
.ms-searchbox { width: 100% }
.ms-sectionheader { color: #999966; font-family: 'Trebuchet MS', sans-serif; font-weight: Bold; 
               font-size: 10pt }
.ms-sectionline { background-color: #cc9900; height: 1px }
.ms-selected { color: #000000; background-color: #cccc99 }
.ms-selected span { color: #000000 }
.ms-separator { font-size: 10pt; color: black }
.ms-titlearea { font-family: 'Trebuchet MS', sans-serif; font-size: 10pt }
.ms-titleareaframe { color: #000000; border-left: 4 solid #cc9900 }
.ms-toolbar  { font-size: 9pt; font-family: 'Trebuchet MS', sans-serif; color: #999966; 
               text-decoration: none }
.ms-vb       { font-family: 'Trebuchet MS', sans-serif; height: 18px; vertical-align: top; 
               font-size: 9pt; color: #000000 }
.ms-vb a     { color: #339933; text-decoration: none }
.ms-vb a:hover { text-decoration: underline; color: #cc9900 }
.ms-vb a:visited { text-decoration: none; color: #996600 }
.ms-verticaldots { background-image: url('bluedot.gif'); background-repeat: repeat-y; 
               background-position: right 50% }
.ms-vh       { text-decoration: none; font-family: 'Trebuchet MS', sans-serif; font-weight: 
               normal; color: #000000; text-align: left; font-size: 9pt }
.ms-vh a     { color: #339933; text-decoration: none }
.ms-vh a:hover { text-decoration: underline }
.ms-viewselect a:link { font-size: 9pt; font-family: 'Trebuchet MS', sans-serif; color: #339933 }
.ms-wvsel    { color: #3366cc }
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: 
               url(axiglobl.gif) }
.mstheme-topbar-font { font-family: 'trebuchet ms', Arial, Helvetica; color: rgb(0,0,0); font-size: 
               8pt }
body         { font-family: 'trebuchet ms', Arial, Helvetica; background-image: 
               url('hatter.jpg') }
button       { font-family: 'trebuchet ms', Arial, Helvetica; font-style: normal; font-size: 
               8pt; border-style: solid; border-width: 1pt }
caption      { font-style: normal; font-family: 'trebuchet ms', Arial, Helvetica; font-size: 
               14pt }
fieldset     { font-family: 'trebuchet ms', Arial, Helvetica; font-size: 8pt; font-style: 
               normal; border-style: solid; border-width: 1pt }
h1           { font-family: 'trebuchet ms', Arial, Helvetica; font-weight: normal; 
               font-style: normal; font-size: 24pt }
h2           { font-style: normal; font-size: 18pt; font-family: 
               'trebuchet ms', Arial, Helvetica; font-weight: normal }
h3           { font-family: 'trebuchet ms', Arial, Helvetica; font-weight: normal; 
               font-style: normal; font-size: 14pt }
h4           { font-size: 12pt; font-style: normal; font-family: 
               'trebuchet ms', Arial, Helvetica; font-weight: normal }
h5           { font-style: normal; font-weight: normal; font-size: 10pt; font-family: 
               'trebuchet ms', Arial, Helvetica }
h6           { font-size: 8pt; font-family: 'trebuchet ms', Arial, Helvetica; font-style: 
               normal; font-weight: normal }
img.ms-button { cursor: hand }
label        { font-style: normal; font-size: 8pt; font-family: 
               'trebuchet ms', Arial, Helvetica }
label, .mstheme-label { font-size: 8pt; font-style: normal; font-family: 
               'trebuchet ms', Arial, Helvetica }
legend       { font-family: 'trebuchet ms', Arial, Helvetica; font-size: 8pt; font-style: 
               normal }
marquee      { font-family: 'trebuchet ms', Arial, Helvetica; font-size: 14pt }
select       { font-style: normal; font-size: 8pt; font-family: 
               'trebuchet ms', Arial, Helvetica; border-style: solid; 
               border-width: 1pt }
table        { font-family: 'trebuchet ms', Arial, Helvetica; font-style: normal }
textarea     { font-size: 8pt; font-style: normal; font-family: 
               'trebuchet ms', Arial, Helvetica; border-style: solid; 
               border-width: 1pt }
th           { font-family: 'trebuchet ms', Arial, Helvetica; font-style: normal }
