vti_encoding:SR|utf8-nl
mailto\:eurcake@earthlink.net:contact_us.htm
/c\:/documents and settings/owner/my documents/my webs/plum38/images/dobosh.jpg:cakes_for_any_occasion.htm
http\://customer.startlogic.com/transaction.php:_borders/bottom.htm wedding3.htm new_page_2.htm new_page_3.htm
/c\:/documents and settings/owner/my documents/my webs/plum38/images/mice.jpg:new_page_5.htm
/c\:/documents and settings/owner/my documents/my webs/plum38/images/david's.jpg:cakes_for_any_occasion.htm
recipies:recipies_post.htm
/c\:/documents and settings/owner/my documents/my webs/plum38/images/rigojancsi.jpg:cakes_for_any_occasion.htm
/c\:/documents and settings/owner/my documents/my webs/plum38/images/redlady.jpg:new_page_5.htm
http\://customer.startlogic.com/gadserv.php:_borders/bottom.htm wedding3.htm new_page_2.htm new_page_3.htm
